<% @businesses.each do |business| %>
  <div class="panel panel-default">
    <div class="panel-body">
      <h3><%= business["name"] %></h3>
      <%= image_tag business["image_url"] %>
    </div>
  </div>
<% end %>
