<div class="home-container">
    <button class="render-restaurant" type="button" name="button">Restaurant
    </button>
    <button class="render-suggestions" type="button" name="button">Suggestions
    </button>
    <div class="partial-load">
        <%=  render :partial => "restaurant"  %>
    </div>
</div>
