<div class="home-container">
    <ul class="nav nav-tabs">
        <li id="rest-tab" role="presentation" class="take-all-space-you-can active">
            <a class="render-restaurants text-center">Restaurants</a>
        </li>
        <li id="sugg-tab" role="presentation" class="take-all-space-you-can">
            <a class="render-suggestions text-center">Suggestions</a>
        </li>
    </ul>
    <%=  %>
    <div class="partial-load">
        <%=  render :partial => "restaurant"  %>
    </div>
</div>

<script type="text/javascript">
$(function() {
    renderSuggestions();
    renderRestaurants();
});

function renderRestaurants() {
  $(".render-restaurants").click(function() {
    $(".suggestion-container").replaceWith("<%= escape_javascript(render('restaurant'))%>");
    $("#rest-tab").addClass(" active")
    $('#sugg-tab').removeClass("active")
  });
}

function renderSuggestions() {
  $(".render-suggestions").click(function() {
    $(".restaurant-container").replaceWith("<%= escape_javascript(render('suggestions/suggestions', suggestions: @suggestions))%>");
    $("#sugg-tab").addClass(" active")
    $('#rest-tab').removeClass("active")
  });
}
</script>
