<div class="home-container">
    <ul class="nav nav-tabs">
        <li role="presentation" class="take-all-space-you-can active">
            <a class="render-restaurant text-center">Restaurants</a>
        </li>
        <li role="presentation" class="take-all-space-you-can">
            <a class="render-suggestions text-center">Suggestions</a>
        </li>
    </ul>
    <div class="partial-load">
        <%=  render :partial => "restaurant"  %>
    </div>
</div>
