/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
*/
@import "bootstrap-sprockets";
@import "bootstrap";

@media (min-width: 768px) {
  .item:nth-child(2n+1) {
    clear: left;
  }
}
.update-btn{
  margin-top: 10px;
}
.edit-form{
  margin: 0px 1.5em;
  opacity: 0.9;
}

.form_for{
  text-align: center;
  color: black;

}

.overflow {
  position: absolute;
  top: -1px;
  left: -1px;
  width: calc(100% + 0px);
  height: calc(100% + 0px);
}

body{
  font-family: 'Josefin Sans', sans-serif;
};

input{
  border: 2px solid gray;
}

video#fullscreen-bg {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    // background: url(polina.jpg) no-repeat;
    background-size: cover;
    // -webkit-filter: blur(1px);
    // -moz-filter: blur(1px);
    // -o-filter: blur(1px);
    // -ms-filter: blur(1px);
    // filter: blur(1px);
}
.hamburger{
  font-family: 'Pacifico', cursive;
  font-size: 2em;
  color: white;
  border: 5px solid white;
  background: transparent;
  border-radius: 5%;
  justify-content: center;
  align-items: center;
}
.title {
    font-family: 'Pacifico', cursive;
    font-size: 4em;
    color: white;
    justify-content: center;
    align-items: center;
    padding-top: 2em;
    margin-top: 0;
}

.lilguy{
  width: 98%;
}

.title2 {
    font-family: 'Pacifico', cursive;
    font-size: 4em;
    color: white;
    justify-content: center;
    align-items: center;
}
.title3 {
    font-family: "Arial Black", Gadget, sans-serif;
    font-size: 1.5em;
    color: white;
    justify-content: center;
    align-items: center;
    margin: .5em 2em 0em 2em;
}
.form-control{
  margin:auto;
}
.take-all-space-you-can{
    width:50%;
}
.login-btn {
    font-family: 'Pacifico', cursive;
    font-size: 3em;
    color: white;
    border: 5px solid white;
    background: transparent;
    border-radius: 5%;
    margin-top: 10px;
    justify-content: center;
    align-items: center;
}
.text-right{
  padding: 0px;
}
