/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
*/
@import "bootstrap-sprockets";
@import "bootstrap";

video#fullscreen-bg {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    background: url(polina.jpg) no-repeat;
    background-size: cover;
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
    filter: blur(5px);
}
.hamburger{
  font-family: 'Pacifico', cursive;
  font-size: 2em;
  color: white;
  border: 5px solid white;
  background: transparent;
  border-radius: 5%;
  justify-content: center;
  align-items: center;
}
.title {
    font-family: 'Pacifico', cursive;
    font-size: 4em;
    color: white;
    justify-content: center;
    align-items: center;
    padding-top: 2em;
    margin-top: 0;
}

.title2 {
    font-family: 'Pacifico', cursive;
    font-size: 4em;
    color: white;
    justify-content: center;
    align-items: center;
}

.login-btn {
    font-family: 'Pacifico', cursive;
    font-size: 3em;
    color: white;
    border: 5px solid white;
    background: transparent;
    border-radius: 5%;
    margin-top: 10px;
    justify-content: center;
    align-items: center;
}
