<ul class="hmenu">
    <%= render 'devise/menu/registration_items' %>
    <%= render 'devise/menu/login_items' %>
</ul>

<div class="suggestion-container">
  <% @suggestions.each do |suggestion| %>
    <li>
      <%= suggestion.yelp_id %>
    </li>
  <% end %>
</div>
