<div class="suggestion-container">
    <% @suggestions.each do |suggestion| %>
    <div class="panel panel-default">
        <div class="panel-head">
          <p>
            <%= suggestion.users_name %> said you gotta try this taco!
          </p>
            <div class="panel-body">
              <div class="panel-footer">
                <li>
                    <%= suggestion.call_yelp %><br/>
                </li>
              </div>
          </div>
        </div>
    </div>
<% end %>
</div>
